@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar a {
    color: black;
    font-family: 'Merriweather';
    font-weight: 300;
}
.navbar a:hover {
    /* background-color: #1b5fc5; */
    color: white;
}
.navbar button {
    color: black;
    font-family: 'Merriweather';
    font-weight: 300;
}
.navbar button:hover {
    color: white;
}
