@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  overflow-x: hidden;
  font-family: Merriweather;
}

.container-fluid {
  padding-left: 0;
}


.navbar a {
  color: black;
  font-family: 'Merriweather';
  font-weight: 300;
}

.navbar button {
  color: black;
  font-family: 'Merriweather';
  font-weight: 300;
}
.navbar button:hover {
  color: white;
}
